release/*.*
debug/*.*
src/malibucoind
.*.swp
*.*~*
*.bak
*.bat
*.rej
*.orig
*.a
*.o
*.so
*.patch
*.Debug
*.Release
*.old

# Compilation and Qt preprocessor part
*.qm
Makefile
MalibuCoin-Qt.app

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
